*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: 'Roboto', sans-serif;
 }
 .container{
         width: 80%;    
         margin: auto;
 }
 button{
    font-family: 'Roboto', sans-serif;
 }
 .bui-avatar__image{
     border-radius: 15px;
 }
 .header{
     background-color: grey;
     position: fixed;
     width: 100%;
     z-index: 99;
     text-transform: capitalize;
 }
 .header .logo{
     width: 30%;
     opacity: 0.7;
     float: left;
 }
 .header .nav{
         width: 70%;
        text-align: right;
         float: left;
 }
 .header .nav li{
     list-style: none;
     display: inline-block  ;
     
 }
 .header .nav{
     display: inline-block;
    
 }
 .header .nav li a{
   color: black;
   padding: 20px;
   display: block;
    text-decoration: none;
    font-size: 20px;

 }
 .header .nav li a.active:after{
     display: block;
     width: 0px;
     height: 3px;
     background-color: blue;
 }
 .header .nav li a:hover:after{
       width: 100%;
 }
 .clear{
     clear: both;
 }
 .home{
    
     background-image: url(./main.jpg);
     background-color: rgba(0,0,0,1);
     width: 100%; height: 100vh;
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     position: relative;
 }
 .hover-opacity{
     transition: opacity 1s;
 }
 .hover-opacity:hover{
     opacity: 0.5;
 }
 .overlay{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0; 
     left: 0;
 }
 pd-y{
     padding: 120px 0px;
 }
 .home .title{
     font-size: 50px;
     text-align: center;
     color:rgb(80, 9, 121) ;
 }
 .home .home-des{
     margin-top: 10px;
     margin-bottom: 10px;
     color: rgb(80, 9, 121) ;
     letter-spacing: 1px;
     font-size: 30px;
 }
 .home-content{
     background-color: transparent;
     width: 65%;
     text-align: center;
     position: absolute;
     position: 50%;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
 }.home .btn-start{
     border-radius: 5px;
     padding : 10px;
     width: 150px;
     cursor: pointer;
     font-size: 20px;
     margin-right: 10px;
     background-color: grey;
     color: white;
 }
 .section-header{
     text-align: center;
     margin-bottom: 70px;
     
 }
.section-title{
     font: 50px;
     text-transform: capitalize;
     margin-bottom: 10px;
     text-align: center;
     padding-top: 20px;
 }
 hr{
     text-align: center;
 }
 
 .about-item{
    text-align: center;
 }
 .about-item-desc{
        text-align: center;
        line-height: 1.6;
        margin-bottom: 10px;
 }
 .icon{
     margin: auto;
     text-align: center;
 }
 .about-content ,.portfolio-content{
     float: left;
     width: 29%;
     padding: 30px 15px;
     border: 2px solid black;
     margin: 0 2%;
     overflow: hidden;
 
 }
 
.ltr-effect{
    position: relative;
}
.ltr-effect::after{
    content: "";
    width: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    background-color: rgb(80, 9, 121);
    position: absolute;
    color: white;
}
.ltr-effect:hover::after{
    width: 100%;
    color: aliceblue;
}
.ltr-effect:hover{
    color: aliceblue;
}
.portfolio{
    margin-top: 550px;
    margin-bottom: 1755px;
}

.portfolio .portfolio-content{
  margin-top: 10px;
  position: relative;
  padding: 20px;
}
.portfolio-content .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    opacity: 0;
    transition: 0.7s;
    visibility: visible;

}
.layer-content .layer-info{
    position: absolute;
   color: white;   
    left: 50%;
    top: 50%;
  
   transform: translate(-50%,-50%);
text-align: center;
}
.layer-content .category{
    position: relative;
    top: 10px;
    font-size: 50px;
    transition-delay: 1.5s;
}
.layer-content .layer-content-title{
    position: relative;
    top: 10px;
    transition-delay: 0.5s;
}


.layer-content a{
    display: inline-block;
    background-color: white;
    margin-top: 20px;

}
.portfolio-content .layer-content:hover{
    opacity: 1;
}
.portfolio .portfolio-content img{
    width: 100%;
}

.offer-item img{
  width: 100%;
}

.offer-content{
    overflow: hidden;
    width: 100%;
    margin-bottom: 200px;
}
.offer-title ,.offer-item-desc{
    text-align: center;
    margin-bottom: 10px;
}
.offer-item{
    width: 29%;
    float: left;
    border: 2px solid black;
    margin: 0 2%;
    margin-top: 10px;
    padding-top: 20px;
}
section{
    background-image: url(./img/about\ us.webp);
    background-color: rgba(0,0,0,0.5);
    width: 100%; height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.about-us{
    margin-bottom: 50px;
}
.about-us img{
    margin: auto;
}
.about-us-title{
    text-align: center;
    font-size: 100px;
    margin-bottom: 100px;
   color: black;
}
.about-us-desc{
    font-size: 50px;
    color: black;
    background-color: aliceblue;
}
.works-title{
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
    letter-spacing: 2px;
}
.portfolio-aa{
    margin-top: 0px;
    margin-bottom: 1000px;
}

.portfolio-aa .portfolio-content{
  margin-top: 10px;
  position: relative;
  border: none;
  padding: 20px;
  
 }
 .portfolio-aa .about-content img{
     width: 100%;
 }
 .numbers{
     position: relative;
     background-image: url(./img/airport.jpg);
     background-size: cover;
     background-attachment: fixed;
     height: 300px;
 }
 .numbers-items{
     overflow: hidden;
 }
 .number-item{
     width: 20%;
     float: left;
     text-align: center;
 }
 .number-item img{
     color: blue;
     margin-bottom: 15px;
 }
 .number-item-title,.number-item-text{
     color: white;
 }
 .pricing{
     margin-top: 100px;
 }

.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float: left;
    border: 1px solid black;
   text-align: center;
    padding-top: 20px;
    margin-right: 3%;
   
}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
.dolar{
    width: 150px; height: 150px;
    font-size: 40px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 50px 0 0 0;
}
.pricing-list{
    list-style: none;
}
.pricing-list li{
    line-height: 1.5;
    text-transform: uppercase;
}
.pricing-item-pur{
    background: none;
    display: block;
    width: 120px;
    background-color: gray;
    padding: 10px;
    margin: 20px auto;
    border: 0;
}
.tp-effect{
    position: relative;
}
.tp-effect::after{
    content: "";
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    background-color: rgb(80, 9, 121);
    position: absolute;
    color: white;
}
.tp-effect:hover::after{
    height: 100%;
    color: aliceblue;
}
.tp-effect:hover{
    color: aliceblue;
}
.pricing-item-pur:hover{
    opacity: 0.5;
}
.section-title-ach{
    color: white;
    font: 50px;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
}
.descover{
    margin-top: 250px;
}
.descover-plans{
    overflow: hidden;
}
.descover-items{
  float: left;
  overflow: hidden;
  margin: 1%;
  width: 10%;
  border: 0.5px solid black;
  padding: 2px;
}
.descover-items img{
    width: 100%;
}
.booking{
    margin-top: 250px;
}
.booking-plans{
    overflow: hidden;
}
.booking-items{
    margin-left: 100px;
    margin-top: 50px;
  
}
.booking-items img{
    margin-bottom: 50px;
}
.booking-items-title ,.booking-items-desc ,booking-items-price{
    font-size: 32px;
    text-transform: capitalize;
}
.booking-items-btn{
    margin-bottom: 10px;
    margin-top: 20px;
    border: none;
    background-color: gray;
    width: 150px;
    height: 30px;
    transition: 0.5s ease-in;
}
.booking-items-btn:hover{
    opacity: 0.7;
    transform: scale(0.9);
}
.contact{
    margin-top: 450px;
}
.contact-us{
    overflow: hidden;
}
.contact-item{
    float: left;
    width: 31%;
    border: 1px solid black;
    margin: 1%;
    text-align: center;
    padding: 20px 0;
}
.contact-item img{
    width: 100%;
}
.contact-item-title ,.contact-item-span{
    text-align: center;
    color: gray;
}
.contact-item-title ,.contact-item-span:hover{
    color: white;
}
.footer{
    background-image: url(./img/logo.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.footer-links{
    list-style: none;
    margin-top: 100px;
    border-radius: 100%;
}
.footer-links li {
    display: inline-block;
    margin: 0 10px;
    border-radius: 100%;
}
.footer-links li a{
    display: block;
    background-color: gray;
    width: 50px; height: 50px;
    border-radius: 100%;
}
.footer-img{
        margin-top: 100px;
}
.copyright{
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        margin-top: 50px;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .nav a{
        padding: 10px;
    }
}